# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Environment / secrets
.env

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/

# Build
build/
dist/
*.spec

# OS
.DS_Store
Thumbs.db


